.availableDays{
	margin-top: 10px;
	list-style: none;
	text-align:center;
}

.availableDay{
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	cursor: pointer;
	margin: 5px;
}

.dataBlock{
	display: inline-block;
	width: 98%;
	height: 600px;
	border: 1px solid black;
	/*margin: 5px;*/
	padding: 5px;
}

.dataBlock h4 {
	text-align: center;
}  

#mapDiv{
	height: 90%;
	width: 90%;
	margin: 0 auto;
}

.selected{
	box-shadow: 5px 5px 5px #888888;
}

.unselected{
	
}